.baseCard{
    box-shadow: none;
    padding: 41px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.baseCard input {
    height: 40px;
    width: 580px;
    border: none;
    padding: 11px 0;
    padding-left: 24px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.baseCard input::placeholder {
    color: #a7a7a7;
    font-size: 14px;
}
@media (min-width: 1200px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}