.cardContainer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.cardTop {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    color: #fff;
}
img {
    padding: 62px 28px 35px;
    width: 100%;
}
.cardContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 21px 41px;
}
.cardContent h3 {
    font-size: 19px;
    margin-bottom: 13px;
}
.cardContent p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.cardBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    box-shadow: none;
    height: 123px;
    padding-top: 28px;
}
.cardBottom p {
    color: #585858;
    margin-top: 9px;
    font-size: 18px;
}

@media (min-width: 576px) {
    .cardContainer {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }
    img {
        padding: 22px 100px 20px;
        width: 100%;
    }
    .cardContent {
        padding: 0 30px 41px;
    }
    .cardContent h3 {
        font-size: 36px;
        margin-bottom: 13px;
    }
    .cardContent p {
        font-size: 18px;
        line-height: 21px;
    }
    .cardBottom {
        flex-direction: row;
        gap: 16px;
        margin-top: 30px;
        padding-top: 0px;
    }
    .cardBottom p {
        margin-top: 10px;
    }
}
@media (min-width: 768px) {
    img {
        padding: 79px 197px 37px;
        width: 100%;
    }
    .cardContent {
        padding-bottom: 76px;
    }
    .cardContent p {
        margin: 0 130px;
    }
    .cardBottom {
        justify-content: flex-start;
        padding-left: 85px;
    }
}
@media (min-width: 992px) {
    img {
        padding: 82px 249px 17px;
        width: 100%;
    }
    .cardContent h3 {
        font-size: 40px;
    }
}
@media (min-width: 1200px) {
    .cardContainer {
        padding-left: 150px;
        padding-right: 150px;
    }
    .cardTop {
        flex-direction: row-reverse;
        align-items: center;
    }
    img {
        padding: 0;
        margin: 83px 78px 83px 63px;
        width: 300px;
        height: 200px;
    }
    .cardContent {
        text-align: left;
        padding: 0;
        margin-left: 85px;
    }
    .cardContent h3 {
        font-size: 36px;
    }
    .cardContent p {
        text-align: left;
        width: 420px;
        margin: 0;
    }
}
