nav {
    min-height: 70px;
    color: var(--primary-color);
    background: #f78b00;
}
.logo h4 {
    font-size: 24px;
    font-weight: 700;
    padding: 21px 20px;
}
.menu {
    padding: 0 20px 32px;
    font-size: 18px;
    font-weight: 400;
}
.active {
    font-weight: 700;
}
li + li {
    margin-top: 12px;
}
@media (min-width: 768px) {
    li + li {
        margin-top: 0px;
    }
    .navbar-nav.offset-md-8.menu {
        gap: 48px;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    nav {
        padding-left: 120px;
        padding-right: 120px;
    }

}
